.csminputstyle-input-b{
	font-weight:bold;
	display:inline;
	padding-left:10px;
}

.csminputstyle-input-i{
	font-weight:bold;
	font-style:italic;
	display:inline;
	padding-left:10px;
}

.csminputstyle-input-u{
	font-weight:bold;
	text-decoration:underline;
	display:inline;
	padding-left:14px;
}
.csminputstyle-input-active{
	color:red;
}

.simpleColorContainer,.simpleColorDisplay{
	display:inline !important;
	padding-left:5px;
	padding-right:5px;
}
.csminputstyle-padding-top,.csminputstyle-padding-right,.csminputstyle-padding-bottom,.csminputstyle-padding-left{
	width:50px;
}